@font-face {
    font-family: 'PixelFont';
    src: url('04B_30__.TTF') format('truetype');
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
    font-family: 'PixelFont', Arial, sans-serif;
}

canvas {
    display: block;
}
