body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
    font-family: 'PixelFont', Arial, sans-serif;
}

canvas {
    display: block;
}

#game-container {
    position: relative;
}

svg#logo {
    position: absolute;
    top: -10px; /* Ajusta según sea necesario para alinear correctamente con el título */
    left: calc(50% - 135px); /* Ajusta para centrar horizontalmente */
    z-index: 1; /* Asegura que el logo esté sobre el título */
}
